<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Microprofile - Angular</span>
    </mat-toolbar-row>
</mat-toolbar>
<div class="row" style="margin-top: 15px;">
    <div class="col-12">
        <nav class="nav">
            <a class="tab" [routerLink]="['/persons']" [routerLinkActive]="['is-active']">Personas</a>
            <a class="" [routerLink]="['/courses']" [routerLinkActive]="['is-active']">Talleres</a>
            <a class="" [routerLink]="['/habilities']" [routerLinkActive]="['is-active']">Habilidades</a>
        </nav>
    </div>
    <div class="col-12">
        <router-outlet></router-outlet>
    </div>
</div>