<div class="row justify-content-center">
    <div class="col-12">
        <h1>Lista de talleres</h1>
    </div>
    <div class="col-6 text-left">
        <mat-form-field>
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Tunja Boy ">
        </mat-form-field>
    </div>
    <div class="col-6 text-right">
        <button mat-raised-button color="primary" (click)="create()">Crear</button>
    </div>
    <div class="col-12 text-center" *ngIf="preload_load">
        <img src="../../../../../assets/loading.gif" height="120px" alt="">
    </div>
    <div class="col-12" [ngStyle]="{'display':preload_load == false ? 'block' : 'none' }">
        <div class="full-width" s>
            <table mat-table class="full-width" style="width: 100% !important; min-width: 100% !important; max-width: 100% !;" [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row; let i = index" id="text-center"> {{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                    <td mat-cell *matCellDef="let row" id="text-center"> {{row.date | date: 'medium'}} </td>
                </ng-container>
                <ng-container matColumnDef="place">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Lugar </th>
                    <td mat-cell *matCellDef="let row" id="text-center"> {{row.place}} </td>
                </ng-container>
                <ng-container matColumnDef="habilities_list">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Habilidades </th>
                    <td mat-cell *matCellDef="let row" id="text-center">
                        <ul class="with-out-margin">
                            <li *ngFor="let item of row.habilities_list">{{item.description | titlecase}} </li>
                        </ul>
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </th>
                    <td mat-cell *matCellDef="let row" id="text-center">
                        <button mat-button><mat-icon style="color: #2848ff;" (click)="update(row)"> edit</mat-icon></button>
                        <button mat-button *ngIf="!preload_delete" (click)="delete(row.id)"><mat-icon style="color: #ff2828;">delete</mat-icon></button>
                        <button mat-button *ngIf="preload_delete"><img src="../../../../../assets/loading.gif" height="36px" alt=""></button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[ 25, 100]"></mat-paginator>
    </div>
</div>